/* AcademicUpdates.css */

.academic-updates {
    margin-top: 30px;
    margin-left: 20px;
    position: relative; /* Set position to relative */
  }
  
  .section-heading {
    text-align: left;
  }
  
  .updates-content {
    margin-left: 200px; /* Adjust to accommodate the width of the left-text */
    max-height: fit-content;
    overflow-y: auto;
  }
  
  .update-line {
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 2px solid #333;
  }
  
  .update-date {
    font-weight: bold;
  }
  