header {
    background-color: #000;
    padding: 10px 20px;
  }
  
  nav {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0; /* Remove margin from the first button */
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  nav ul li button {
      color: #fff;
      text-decoration: none;
      background-color: #000;
    }
    button {
      background-color: #000;
      border: none;
      cursor: pointer;
      color: inherit; /* Use the same color as the parent element */
      font-size: inherit; /* Use the same font size as the parent element */
      padding: 0; /* Remove padding */
    }
    button:hover {
      transform: scale(1.5); /* Scale the button slightly larger on hover */
    }
    
    .dark-mode header {
      background-color: #000;
    }
    
    .dark-mode a {
      color: #fff;
    }
    .nav-image {
      width: 30px; /* Set the width to the desired size */
      height: 30px; /* Set the height to the desired size */
      margin-right: 1px; /* Add some spacing between the image and the text */
    }
    