/* Skills.css */

.skills-section {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .skills-heading {
    text-align: left;
    font-size: 2em;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  
  .skills-container {
    display: flex;
    justify-content: left;
  }
  
  .skill-block {
    margin: 0 20px;
  }
  
  .skill-block h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .skill-list {
    list-style: none;
    padding: 0;
    display: flex; /* Use flexbox layout */
    flex-wrap: wrap; /* Allow skills to wrap to the next line */
    justify-content: center;
  }
  
  .skill-item {
    margin-right: 20px;
    margin-bottom: 10px; /* Add margin bottom for spacing between rows */
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .skill-item:hover {
    transform: translateY(-3px);
    transform: scale(1.8); 
  }
  
  .skill-icon {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .skill-image {
    width: 55px; /* Set the width to the desired size */
    height: 44px; /* Set the height to the desired size */
    margin-right: 1px; /* Add some spacing between the image and the text */
  }
  